@using DataAccessLayer.Models
@model CreateRoomViewModel

@{
    ViewData["Title"] = "Створення кімнати";
}

<h1>Створення кімнати</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Room.Number" class="control-label">Номер:</label>
        <input asp-for="Room.Number" class="form-control" />
        <span asp-validation-for="Room.Number" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Room.RoomType" class="control-label">Тип:</label>
        <select asp-for="Room.RoomType" asp-items="Html.GetEnumSelectList<RoomType>()" class="form-control"></select>
        <span asp-validation-for="Room.RoomType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Room.Capacity" class="control-label">Місткість:</label>
        <input asp-for="Room.Capacity" class="form-control" />
        <span asp-validation-for="Room.Capacity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Room.Price" class="control-label">Ціна:</label>
        <input asp-for="Room.Price" class="form-control" />
        <span asp-validation-for="Room.Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedAmenityIds" class="control-label">Зручності:</label>
        <select asp-for="SelectedAmenityIds" asp-items="Model.AllAmenities" multiple class="form-control"></select>
        <span asp-validation-for="SelectedAmenityIds" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Створити" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Повернутися до списку кімнат</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}